#Keys
API_URL_env =
HF_TOKEN_env=
Gemini_Key_env=
SECRET_KEY_env =
ALGO_env =
# DataBase
DB_USER_env =
DB_PASSWORD_env =
DB_ADDR_env =
DB_PORT_env =
DB_NAME_env = 
# postgresql://utilisateur:motdepasse@adresse_serveur:port/nom_bdd
DB_URL_env =